.container {
   background-color: black;
}
.banner-container {
   background-color: black;
   position: relative;
   width: 100%;
   padding-bottom: 1.5rem;
}
.banner-img {
   width: 100%;
   min-height: 50rem;
   object-fit: cover;
}
.infoGroup {
   position: absolute;
   bottom: 30%;
   left: 2.5rem;
}
.banner-name {
   font-size: 3rem;
   color: white;
   margin-bottom: 3rem;
}
.banner-overview {
   color: white;
   max-width: 50%;
}
.btnGroup {
   display: flex;
   padding-bottom: 5px;
}
.buttonBannerPlay {
   padding: 0.5rem 2rem;
}
.buttonBannerMyList {
   padding: 0.5rem 3rem;
}
.buttonBannerPlay,
.buttonBannerMyList {
   color: white;
   border-radius: 6px;
   font-size: 18px;
   background-color: #606a76;
   margin-right: 15px;
}
.buttonBannerPlay:hover,
.buttonBannerMyList:hover {
   opacity: 0.75;
   background-color: #606a76;
}
